{% set installEnvironment = "Codespaces" %}
{% set steps_total = "2" %}

{% extends 'layout.html' %}

{% set currentSection = "Get started" %}

{% block beforeContent %}
    {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/install/",
        text: "Get started"
      }
    ],
    href: "/install/codespaces/",
    text: "Install and use the kit with your web browser"
  }) }}
{% endblock %}

{% block content %}
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <h1>
                <span class="nhsuk-caption-l">Step
                    {{ current_step }}
                    of
                    {{ steps_total }}{{[":", installEnvironment ] | join(" ") if installEnvironment }}</span>
                {% block stepHeader %}{% endblock %}
            </h1>

            {% block page_content %}{% endblock %}

            {% block pagination %}{% endblock %}

        </div>
    </div>
{% endblock %}
