{% extends 'layout.html' %}

{% set currentSection = "Get started" %}
{% set pageName = "Get started" %}

{% block beforeContent %}
  {{ breadcrumb({ href: "/", text: "Home" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

      <p class="nhsuk-body-l">To use the kit you'll need some basic knowledge of HTML, for example what tags and attributes are and how to copy and paste code.</p>

      <p>You can learn basic HTML and CSS at
        <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started">mdn</a>,
        <a href="https://www.codecademy.com">codecademy</a>
        or other online tutorials. You'll also need to install some other tools and software.</p>

      <h2 id="updating" class="nhsuk-heading-m">Updating</h2>

      <p>If you have already got an NHS prototype but need to upgrade it to the latest version, see the
        <a href="/how-tos/updating-the-kit">guide to updating the kit</a>.</p>

      <h2 id="switching" class="nhsuk-heading-m">Switching from the GOV.UK Prototype Kit</h2>
      <p>If you are new to the NHS prototype kit but are familiar with the GOV.UK Prototype Kit, you can find out
        <a href="/how-tos/switching-from-govuk-prototype-kit">how the NHS prototype kit is different from the GOV.UK Prototype Kit</a>.</p>
    
      <h2 id="install-guides">Install guides</h2>


      <h3 id="local-installation">Local installation</h3>
    </div>
  </div>

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {{ card({
        href: "/install/mac",
        clickable: "true",
        headingLevel: 3,
        heading: "Mac install guide",
        headingClasses: "nhsuk-heading-s",
        description: "A step-by-step guide to installing the prototype kit on your Mac."
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {{ card({
        href: "/install/windows",
        clickable: "true",
        headingLevel: 3,
        heading: "Windows install guide",
        headingClasses: "nhsuk-heading-s",
        description: "A step-by-step guide to installing the prototype kit on your Windows machine."
      }) }}
    </li>
  </ul>

  <h3 id="cloud">Running the kit in the cloud</h3>

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {{ card({
        href: "/install/codespaces",
        clickable: "true",
        headingLevel: 3,
        heading: "Using GitHub Codespaces",
        headingClasses: "nhsuk-heading-s",
        description: "A step-by-step guide to running the kit using GitHub Codespaces."
      }) }}
    </li>
  </ul>

  <h3 id="advanced">Advanced install guide</h3>

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {{ card({
        href: "/install/advanced",
        clickable: "true",
        headingLevel: 3,
        heading: "Advanced install guide",
        headingClasses: "nhsuk-heading-s",
        description: "A quick installation guide for those familiar with Node.js and prototyping in code."
      }) }}
    </li>
    
  </ul>
{% endblock %}
