{% extends 'layout.html' %}

{% block pageTitle %}
  Installation on an NHS England Windows laptop - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/install",
    text: "Get started"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Installation on an NHS England Windows laptop</h1>

      <p>If you have a Windows laptop issued by NHS England corporate IT, then you can largely follow the <a href="/install/windows/terminal">install guide for Windows</a> but there are some additional steps.</p>

      <h2 class="nhsuk-heading-m">Install software dependencies</h2>

      <p>The following can be installed from the Company Portal application:</p>

      <ul>
        <li>Terminal</li>
        <li>Visual Studio Code</li>
        <li>Node.js and NPM</li>
        <li>Git for Windows</li>
        <li>Github Desktop</li>
      </ul>

      <h2>Creating a local folder</h2>

      <p>Within the root of your OneDrive create a new folder named <code><strong>DevWspace</strong></code>.</p>

      <p>This folder name was added to an approved list to allow the creation of virtual environments and allow scripts to be executed.</p>

      <p>The path should look like this after you have created it:</p>

      <pre class="app-pre"><code class="app-code">"C:\Users\%username%\OneDrive - NHS\DevWspace"</code></pre>

      <p>Change the default path location for all the developer programs you use and move any existing prototypes you currently have to this new location.</p>

    </div>
  </div>
{% endblock %}
