{% extends 'layout.html' %}

{% block pageTitle %}
  Setup the kit - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/install",
        text: "Get started"
      }
    ],

    href: "/install/simple",
    text: "Install guide"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l">Step 6 of 8{{[":", installEnvironment ] | join(" ") if installEnvironment }}</span>
        Setup the kit
      </h1>

      {% block branchingContent %}
      {% endblock %}

      {{ codeSnippet({code: "npm install", language: "sh"}) }}

      <p>The install may take up to a minute.</p>

      <p>While installing it may <code>WARN</code> about some items - this is ok. As long as there are no <code>ERRORs</code> you can continue.</p>

      {% block branchingImage %}
      {% endblock %}

      {% block pagination %}
      {% endblock %}

    </div>

  </div>
{% endblock %}
