{% extends 'layout.html' %}

{% block pageTitle %}
  Install guide - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/install",
    text: "Get started"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Install guide
      </h1>

      <p class="nhsuk-lede-text">To start making prototypes you need to setup the right tools to make the kit work.</p>

      <p>This guide will show you how to get setup in 8 steps.</p>

      <p>You don’t need any technical knowledge to follow along.</p>

      <p>Installation takes up to 20 minutes depending on how much you need to install.</p>

      <p>If you have any problems, ask a developer on your team (if you have one), <a href="mailto:england.service-manual@nhs.net?subject=NHS.UK prototype kit - Installation">email us</a> or get in touch on the <a href="https://nhs-service-manual.slack.com/messages/CFYL2GDGW" rel="nofollow">NHS digital service manual #prototype-kit Slack channel</a>.</p>

      <h2 class="nhsuk-heading-m">
       NHS England laptop users
      </h2>

      <p>Before you start you will need to:</p>
      <ol>
        <li>create a local folder in the right place for the code to work</li>
        <li>find and install software that has been approved for you to use</li>
      </ol>


      <div class="nhsuk-expander-group">
        {{ details({
          classes: "nhsuk-expander",
          text: "Create a local folder for your prototypes",
          HTML: '
            <p>Within the root of your OneDrive create a new folder named <code><strong>DevWspace</strong></code>.</p>
            <p>The path should look like this after you have created it:</p>
            <pre class="app-pre"><code class="app-code">"C:\Users\%username%\OneDrive - NHS\DevWspace"</code></pre>
            <p>You will need to use this for all prototypes and as the path for any programmes you use for the prototype.</p>
          '
        }) }}
        {{ details({
          classes: "nhsuk-expander",
          text: "Find and install software that you need to use",
          HTML: '
            <p>Go to Company Portal applications and install these applications:</p>
            <ul>
            <li>Terminal</li>
            <li>Visual Studio Code</li>
            <li>Node.js and NPM</li>
            <li>Git for Windows</li>
            <li>Github Desktop</li>
            </ul>          '
        }) }}
      </div>

      <div class="nhsuk-inset-text">
        <p>If you are familiar with using git and the terminal, then you might prefer the <a href="/install/advanced">advanced guide</a>.</p>
      </div>




      <a class="nhsuk-button" href="/install/mac-or-windows">Start now</a>

    </div>

  </div>
{% endblock %}
