{% set pageTitle = "Create pages" %} {% set next = { "title" : "Link your pages
together" , "link" : "link-pages-together" } %} {% set prev = { "title" : "Open
your prototype in your editor" , "link" : "open-prototype-in-editor" } %} {%
extends 'how-tos/build-basic-prototype/_BASE.njk' %} {% block makePrototype %}

<p>Create pages by copying examples from the <a href="https://service-manual.nhs.uk/design-system/patterns">patterns section of the NHS Service manual</a>.</p>
<h2 id="create-a-start-page">Create a start page</h2>
<p>
  Create an empty file named <code>{{exampleStart.url}}.html</code> in your <code>app/views</code> folder.
</p>

<p>Visit the <a href="https://service-manual.nhs.uk/design-system/patterns/start-page">start page pattern</a> and select the Nunjucks option under the first example. This will reveal the Nunjucks code.</p>

<p>Copy the Nunjucks code into your empty file. There is a ‘Copy code’ button to make this easier.</p>

<p>Add this line to the very top of your code:</p>

{% call codeSnippet({ language: "html" }) %}{% raw %}
{% extends "layout.html" %}
{% endraw %}{% endcall %}

<p>
  Preview the pages in your prototype by going to
  <code>http://localhost:3000/name-of-file</code> in your web browser.</p>

<p>For
  example,
  <a href="http://localhost:3000/{{exampleStart.url}}"
    >go to http://localhost:3000/{{exampleStart.url}}</a
  >
  to preview <code>{{exampleStart.url}}.html</code>.
</p>
<h3 id="change-the-service-name">Change the service name</h3>
<p>
  You'll normally edit the HTML to make changes to pages, but the service name
  is in a config file. This is so we can change it in one place to update it on
  every page in your prototype.
</p>
<ol class="nhsuk-list nhsuk-list--number">
  <li>
    Open the <code>config.js</code> file in your
    <code>app</code> folder.
  </li>
  <li>
    Change <code>serviceName</code> from "Service name
    goes here" to "{{exampleServiceName}}".
  </li>
  <li>
    Press <strong>Cmd+S</strong> on Mac or <strong>Ctrl+S</strong> on Windows to
    save your change.
  </li>
</ol>
<p>
  You must save every time you make a change to a file. In most code editors, a
  dot appears in the tab for any file that has unsaved changes.
</p>
<p>
  Normally your changes will automatically show in the browser without
  refreshing. But for this config change, you need to refresh the page. You
  should see your service name change on the Start page.
</p>
<h2 id="question-pages">Question pages</h2>

<p>Create 2 empty files for question pages in <code>app/views</code> named:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li><code>{{exampleRadios.url}}.html</code></li>
  <li><code>{{exampleTextArea.url}}.html</code></li>
</ul>

<p>Visit the <a href="https://service-manual.nhs.uk/design-system/patterns/question-pages">question page pattern</a> and copy the Nunjucks from the example into each file.</p>

<p>As before, add this line to the top of each file:</p>

{% call codeSnippet({ language: "html" }) %}{% raw %}
{% extends "layout.html" %}
{% endraw %}{% endcall %}

<p>Go to the following URLs to check your pages:</p>
<ul class="nhsuk-list nhsuk-list--bullet">

  <li>
    <a href="http://localhost:3000/{{exampleRadios.url}}"
      >http://localhost:3000/{{exampleRadios.url}}</a
    >
  </li>
  <li>
    <a href="http://localhost:3000/{{exampleTextArea.url}}"
      >http://localhost:3000/{{exampleTextArea.url}}</a
    >
  </li>
</ul>
<p>
  In the <code>{{exampleRadios.url}}.html</code> file,
  change the text after <code>"legend": {
    "text": </code>
  from "Heading or question goes here" to "{{exampleRadios.title}}".
</p>
<p>
  In the <code>{{exampleTextArea.url}}.html</code> file,
  change the text after <code>"legend": {
    "text": </code>
  to "{{exampleTextArea.title}}".
</p>
<h2 id="{{exampleCheckAnswers.url}}-page">Check answers page</h2>

<p>
  Create an empty file named <code>{{exampleCheckAnswers.url}}.html</code> in <code>app/views</code>.
</p>

<p>Copy the Nunjucks code from the <a href="https://service-manual.nhs.uk/design-system/patterns/check-answers">check answers pattern page</a> and add it to the file.</p>

<p>Add this line to the top of the file:</p>

{% call codeSnippet({ language: "html" }) %}{% raw %}
{% extends "layout.html" %}
{% endraw %}{% endcall %}

<p>
  Go to
  <a href="http://localhost:3000/{{exampleCheckAnswers.url}}"
    >http://localhost:3000/{{exampleCheckAnswers.url}}</a
  >
  to check.
</p>

<h2 id="confirmation-page">Confirmation page</h2>

<p>
  Create an empty file named <code>{{exampleConfirmation.url}}.html</code> in <code>app/views</code>.
</p>

<p>Copy the Nunjucks code from the <a href="https://service-manual.nhs.uk/design-system/patterns/confirmation-page">confirmation page pattern</a> into the file.</p>

<p>Add this line to the top of the file:</p>

{% call codeSnippet({ language: "html" }) %}{% raw %}
{% extends "layout.html" %}
{% endraw %}{% endcall %}

<p>
  Go to
  <a href="http://localhost:3000/{{exampleConfirmation.url}}"
    >http://localhost:3000/{{exampleConfirmation.url}}</a
  >
  to check.
</p>

{% endblock %}
