{% set pageTitle = "Show the user's answers on the Check answers page" %} {%
set next = { "title" : "Let the user change their answers" , "link" :
"let-user-change-answers" } %} {% set prev = { "title" : "Add a textarea to
question 2" , "link" : "use-components-2" } %} {% extends
'how-tos/build-basic-prototype/_BASE.njk' %} {% block makePrototype %}

<p>
  The prototype kit stores answers that users enter. This means you can make
  more realistic prototypes, for example by showing answers for users to check or to branch of to different pages depending on their answer.
</p>

<p>
  When storing data, the kit uses the <code>name</code> attribute from the component to save it. We'll use this when looking up the user's answer.
</p>

<h2 id="show-the-answer-to-question-1">Show the answer to question 1</h2>

<ol class="nhsuk-list nhsuk-list--number">
  <li>
    Open <code>{{exampleCheckAnswers.url}}.html</code> in your <code>app/views</code> folder.
  </li>
  <li>
    In the first row, find the <code>key</code> that contains the text "NHS number".
  </li>
  <li>
    Change "NHS number" to "{{ exampleRadios.summaryListKey }}".
  </li>
  <li>
    In <code>value</code> on the next line, change '485 777 3456' to <code>data.{{ exampleRadios.name }}</code>.
  </li>
</ol>

<p>
  This is how we use data a user has entered – '{{exampleRadios.name}}' is the <code>name</code> attribute from the input component on the question page.
</p>

<p>
  In the same row, find the line with <code>visuallyHiddenText</code> and change 'NHS number' to '{{exampleRadios.summaryListKey | lower }}'.
</p>

<p>
  The link text will read as "Change {{ exampleRadios.summaryListKey | lower }}" to screen reader users. Screen readers will read this out but it will not appear on the page. Without
  this hidden text, screen reader users would just hear "Change" and not necessarily know what it relates to.
</p>

<h2 id="show-the-answer-to-question-2">Show the answer to question 2</h2>

<ol class="nhsuk-list nhsuk-list--number">
  <li>
    In the second row, find the <code>key</code> that contains the text 'Name'.
  </li>
  <li>
    Change "Name" to "{{ exampleTextArea.summaryListKey }}".
  </li>
  <li>
    In the <code>value</code> on the next line, change 'Kevin Francis' to <code>data.{{exampleTextArea.name}}</code>.
  </li>
  <li>
    On the line with <code>visuallyHiddenText</code>, change 'name' to '{{exampleTextArea.summaryListKey | lower }}'
  </li>
</ol>

<p>
  <a href="http://localhost:3000/{{exampleStart.url}}">
    Go to http://localhost:3000/{{exampleStart.url}}
  </a>
  and answer the questions to check your answers show up correctly.
</p>

<h2 id="delete-the-remaining-example-answers">
  Delete the remaining example answers
</h2>

<p>
  On the "Check answers" template page, there are example answers that you do not need.
</p>

<ol class="nhsuk-list nhsuk-list--number">
  <li>
    Find the <code>,</code> (comma) after the details you have changed, and delete this and everything up to the <code>]</code> (square bracket).
  </li>
  <li>
    Delete everything from the line that contains "Medical details" down to the line before "Now send your application".
  </li>
</ol>

<p>Your code should now look like this:</p>

{% call codeSnippet({ language: "html" }) %}{% raw %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">
      Check your answers before sending your application
    </h1>

    <h2 class="nhsuk-heading-m">
      Personal details
    </h2>

    {{ summaryList({
      rows: [
        {
          key: {
            text: "Symptoms of magical powers"
          },
          value: {
            text: data.hasSymptoms
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "symptoms of magical powers"
              }
            ]
          }
        },
        {
          key: {
            text: "Details of the symptoms"
          },
          value: {
            text: data.details
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "details of the symptoms"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="nhsuk-heading-m">
      Now send your application
    </h2>

    <p>
      By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
    </p>

    <p>
      Your details will be sent to Rose Medical Practice to begin your registration.
    </p>

    <a href="/confirmation-page" class="nhsuk-button">
      Accept and send registration
    </a>

  </div>
</div>
{% endraw %}{% endcall %}

{% endblock %}
