{% set pageTitle = "Add a textarea to question 2" %} {% set next = { "title" :
"Show the user's answers on your Check answers page" , "link" :
"show-users-answers" } %} {% set prev = { "title" : "Use components from the
design system" , "link" : "use-components" } %} {% extends
'how-tos/build-basic-prototype/_BASE.njk' %} {% block makePrototype %}
<ol class="nhsuk-list nhsuk-list--number">
  <li>
    Go to the
    <a href="https://service-manual.nhs.uk/design-system/components/textarea"
      >textarea page of the design system</a
    >.
  </li>
  <li>
    Select the <strong>Nunjucks</strong> tab, then <strong>Copy code</strong>.
  </li>
  <li>
    Open <code>{{exampleTextArea.url}}.html</code> in your
    <code>app/views</code> folder.
  </li>
  <li>
    Replace the code from
    <code>&lcub;&lcub; radios({</code> to when it finishes on <code>}) &rcub;&rcub;</code>
    with the code that you copied.
  </li>
  <li>
    Delete the example
    <code>&lt;p&gt;...&lt;/p&gt;</code> paragraph at the bottom of the page.
  </li>
</ol>

<h3 id="customise-the-example-code">Customise the example code</h3>
<ol class="nhsuk-list nhsuk-list--number">
  <li>Delete <code>&#123;% from "textarea/macro.njk" import textarea %}</code>.</li>
  <li>
    Under <code>label</code>, change
    <code>text</code> from "Can you provide more
    detail?" to "{{exampleTextArea.title}}".
  </li>
  <li>
    Change the <code>id</code> and
    <code>name</code> to
    <code>{{exampleTextArea.legend}}</code>.
  </li>
  <li>We don't need a hint, so remove it and the comma just before it.</li>
  <li>
    We also want to make the page a title, so in the
    <code>label</code> area add
    <code> classes: "nhsuk-label--l",</code> and
    <code>isPageHeading: true</code>
  </li>
</ol>

<p>Your component code should now look like this:</p>

{% call codeSnippet({ language: "js" }) %}{% raw %}
{{ textarea({
  name: "details",
  id: "details",
  label: {
    text: "Tell us your symptoms of magical powers",
    classes: "nhsuk-label--l",
    isPageHeading: true
  }
}) }} {% endraw %}{% endcall %}
<p>Your page should now look like this:</p>

{{ image({
  src: "/images/tutorial-textarea.png",
  alt: "Web page with the heading ‘Tell us your symptoms of magical powers’, a textarea and continue button",
  caption: "Screenshot of how your prototype should look.",
  classes: "app-image--full-width"
}) }}

{% endblock %}
