// NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';
@import 'components/header';

// ==========================================================================
// PROTOTYPE SPECIFIC STYLES
// ==========================================================================

// Overrides auto reload div background colour
#hc_extension_bkgnd {
  background-color: $color_nhsuk-grey-4 !important;
}

// Installation guide screenshots
.app-img-guide {
  width: 100%;
}

// Table hotfix

.nhsuk-table__body .nhsuk-table__cell {
  vertical-align: top;
}

.nhsuk-table__header,
.nhsuk-table__cell {
  padding: 16px 16px 16px 0;
}
