// Import NHS.UK frontend library
@use "vendor/nhsuk-frontend" as *;
@forward "vendor/nhsuk-frontend";

// Components that are not in the NHS.UK frontend library
@forward 'components/code-snippet';
@forward 'components/header';

@forward 'styles/code';
@forward 'styles/highlight';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

// Overrides auto reload div background colour
#hc_extension_bkgnd {
  background-color: nhsuk-colour("grey-4") !important;
}

// Installation guide screenshots
.app-img-guide {
  width: 100%;
}

// Table hotfix
.nhsuk-table__body .nhsuk-table__cell {
  vertical-align: top;
}

.nhsuk-table__header,
.nhsuk-table__cell {
  padding: 16px 16px 16px 0;
}
