// Import NHS.UK frontend library
@forward "node_modules/nhsuk-frontend/packages/nhsuk";

// Components that are not in the NHS.UK frontend library
@forward 'components/figure';
@forward 'components/code-snippet';
@forward 'components/header';

@forward 'styles/code';
@forward 'styles/highlight';

@use "node_modules/nhsuk-frontend/packages/nhsuk" as *;

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

// Overrides auto reload div background colour
#hc_extension_bkgnd {
  background-color: $color_nhsuk-grey-4 !important;
}


// This is a temporary fix to remove the 'Home' link in
// the primary navigation which is added Header primary nav.
// Should be able to remove this after the next NHS Frontend update.
.nhsuk-header__navigation-item--home {
  display: none;
}

// Installation guide screenshots
.app-img-guide {
  width: 100%;
}

// Table hotfix
.nhsuk-table__body .nhsuk-table__cell {
  vertical-align: top;
}

.nhsuk-table__header,
.nhsuk-table__cell {
  padding: 16px 16px 16px 0;
}

// Temporary fix until this is fixed in NHS frontend
// See https://github.com/nhsuk/nhsuk-frontend/pull/1292
.nhsuk-hero a.nhsuk-button {
  color: $nhsuk-text-color;
}

