{% extends 'layout.html' %}

{% block pageTitle %}
  Example - Clear data
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/how-tos",
    text: "Guides"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">Reset data</h1>

      <p class="nhsuk-body">This will reset all of the data entered in this session.</p>

      <form method="post">
        {{ button({
          text: "Reset all data"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
