{% extends 'layout.html' %}

{% set pageName = "Application complete" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/how-tos",
    text: "Guides"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: pageName,
        html: "Confirmation has been sent to you by email"
      }) }}



    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Reset data"
      },
      {
        "URL": "/about",
        "label": "About and support"
      },
      {
        "URL": "https://github.com/nhsuk/nhsuk-prototype-kit",
        "label": "NHS prototype kit - GitHub"
      }
    ]
  })}}
{% endblock %}
