{% extends 'layout.html' %}

{% block pageTitle %}
  What is your name? - Passing data example
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/how-tos",
    text: "Guides"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/examples/passing-data/passing-data-question-conditions" method="post" class="form">

        {{ radios({
          idPrefix: "contact",
            name: "contact",
            fieldset: {
              legend: {
                text: "How would you prefer the GP to contact you?",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            },
            value: data.contact,
            items: [
              {
                value: "By phone",
                text: "By phone"
              },
              {
                value: "By email",
                text: "By email"
              },
              {
                value: "By post",
                text: "By post"
              }
            ]
          }) }}

          {{ button({
            text: "Continue"
          }) }}
      </form>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/",
        "label": "Home"
      },
      {
        "URL": "/examples/passing-data/clear-data",
        "label": "Reset data"
      },
      {
        "URL": "/about",
        "label": "About and support"
      },
      {
        "URL": "https://github.com/nhsuk/nhsuk-prototype-kit",
        "label": "NHS prototype kit - GitHub"
      }
    ]
  })}}
{% endblock %}
