@use "node_modules/nhsuk-frontend/packages/nhsuk" as *;

// Code snippet
.app-code-snippet {
  background-color: nhsuk-colour("white");
  border: 1px solid $nhsuk-border-colour;
  overflow: auto;
  padding: nhsuk-spacing(1) nhsuk-spacing(3);
  margin-bottom: nhsuk-spacing(3);
}
