{% set installEnvironment = "Codespaces" %}
{% set current_step = '1' %}

{% block pageTitle %}
  Create a codespace - NHS prototype kit
{% endblock %}

{% extends 'install/codespace.html' %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
    href: "/install/codespaces/",
    text: "Install the kit in your web browser"
      }
    ]
  }) }}
{% endblock %}

{% block stepHeader %}
  Create a Codespace
{% endblock %}

{% block page_content %}

  <p class="nhsuk-lede-text">To use the kit within a Codespace you will first need to create one.</p>

  <h2>1. Create a new prototype</h2>

  <p>To create a new prototype, visit the <a href="https://github.com/nhsuk/nhsuk-prototype-kit">NHS prototype kit on GitHub</a>, click the ‘Use this template’ button and select ‘Create a new repository’.</p>

  <p>You’ll then be taken to a screen where you can enter a repository name - this should be the name of the service you are prototyping. You can change this later if you are not yet sure of the name.</p>

  <p>You can also enter an optional description. You do not need to select the ‘Include all branches’ checkbox.</p>

  <p>You can choose to make your prototype public or private. This can also be changed later.</p>

  <p>Click ‘Create repository’ when you are ready. This will create a copy of the NHS prototype kit which you can then edit.</p>

  <h2>2. Create a new codespace</h2>

  <p>On every GitHub repository page is a 'Code' button which is used to get a copy of or to use the code held within the git repository.</p>

  <p>Click the ‘Code’ button, and select the 'Codespaces' tab from the popup.</p>

  <p>Next click on the ‘Create codespace on main’ button. This will open your new codespace in a new browser tab or window.</p>

  <p><img class="app-img-guide nhsuk-u-margin-bottom-0" alt="Screenshot of the location of create a codespace on main button" src="/images/codespaces/create-a-codespace.png"></p>

  <p>The 'Create codespace on main' button will either be shown as a large button or a small plus symbol after the label 'your workspaces in the cloud'.</p>

  <h2>3. Wait for the Codespace setup to finish</h2>

  <p>The Codespace will open in a new tab (or window) and begin the setup process.</p>

  <p>You will see an interface building with a progress message showing that the space (known as a 'container') is being created or rebuilt.</p>

  <p>This can take between 30 seconds and 5 minutes.</p>

  <h2>4. Check that it has worked</h2>

  <p>Once the Codespace has been created, you will then see the 'terminal' tab with commands being exectuted to start the prototype kit.</p>

  <p>When the prototype has started it will open a preview window displaying the homepage of the prototype.</p>

  <p><img class="app-img-guide nhsuk-u-margin-bottom-0" alt="Screenshot of the running codespace" src="/images/codespaces/running-codespace.png"></p>

  <p>You now have a copy of the NHS prototype kit installed and running within a new GitHub Codespace.</p>

  <p>This means you can create and edit prototypes entirely in your browser.</p>

{% endblock %}

{% block pagination %}
  {{ pagination({
    "previousUrl": "/install/codespaces/index",
    "previousPage": "Get started",
    "nextUrl": "/install/codespaces/working-with-codespaces",
    "nextPage": "Step 2: Working with Codespaces"
  }) }}
{% endblock %}
