{% extends "layout.html" %}

{% set currentSection = "Get started" %}
{% set pageName = "Using GitHub Codespaces" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      },
      {
        href: "/install",
        text: "Get started"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

      <p class="nhsuk-body-l">You can use GitHub Codespaces as an alternative to running the kit on your computer.</p>

      <p>This avoids the need to install Node.js on your computer. Instead, you will run the kit in the cloud and edit the code in your web browser.</p>

      <p><a href="https://github.com/features/codespaces">GitHub Codespaces</a> is free for around 60 hours per month.</p>

      <h2 class="nhsuk-heading-l">Before you begin</h2>

      <p>You do not need any technical knowledge to use this guide.</p>

      <p>You will need a <a href="https://github.com/signup?ref_cta=Sign+up&ref_loc=header+logged+out">GitHub account</a>.</p>

      <p>We will show you how to:</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>set up the Codespace</li>
        <li>work with the Codespace</li>
      </ul>
      
      <p>It usually takes no longer than 5 minutes.</p>

      {{ actionLink({ 
        text: "Start guide for using GitHub Codespaces", 
        href: "/install/codespaces/create-a-codespace"
      }) }}

    </div>
  </div>
{% endblock %}
