{% extends 'layout.html' %}

{% set pageName = "Filters" %}

{% block beforeContent %}
  {% include "how-tos/includes/breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ pageName }}</h1>

      <p>Filters are a Nunjucks feature that you can use within your page templates.</p>

      <p>They are useful for improving visual formatting or for displaying a calculated value.</p>

      <h2 id="how-to-use-filters">How to use filters</h2>

      <p>To use a filter, add the <code>|</code> character (a vertical line or ‘pipe’), and then the name of the filter.</p>

      <p>For example, the <code>upper</code> filter can be used to display all the letters in uppercase:</p>

      {% call codeSnippet({ language: "jinja" }) %}{% raw %}
      Your postcode is {{ data.postcode | upper }}.
      {% endraw %}{% endcall %}

      <p>You can also use filters within Nunjucks macros for NHS components.</p>

      <p>For example, if you have a question with checkboxes, you can use the <code>join</code> filter to display the checked answers in a summary list, with a comma and a space between each one:</p>

      {% call codeSnippet({ language: "js" }) %}{% raw %}
{{ summaryList({
  rows: [
    {
      key: {
        text: "Symptoms"
      },
      value: {
        text: data.symptoms | join(", ")
      }
    }
  ]
}) }}
      {% endraw %}{% endcall %}

      <h2 id="kit-filters">NHS filters</h2>

      <p>The prototype kit come with some filters specific to the NHS.</p>

      <h3 id="format-nhs-number"><code>formatNhsNumber</code></h3>

      <p>Use this to format an NHS number according to the NHS style guide, as 3 groups of numbers with a single space between them, like this: <samp>999 123 4567</samp>.</p>
      
      {% call codeSnippet({ language: "jinja" }) %}{% raw %}
      Your NHS number is {{ data.nhsNumber | formatNhsNumber }}.
      {% endraw %}{% endcall %}

      <h2 id="useful-filters">General filters</h2>

      <p>Here are some general filters included within Nunjucks that often used within prototypes:</p>

      <h3 id="text-filters">Text filters</h3>

      <ul>
        <li><code>upper</code> – makes all letters uppercase</li>
        <li><code>lower</code> – makes all letters lowercase</li>
        <li><code>nl2br</code> – replaces line breaks with <code>&lt;br&gt;</code> tags</li>
      </ul>

      <h3 id="list-filters">List (or array) filters</h3>

      <ul>
        <li><code>length</code> – counts the number of items in the list</li>
        <li><code>first</code> – the first item in the list</li>
        <li><code>last</code> – last last item of the list</li>
        <li><code>reverse</code> – reverses the order</li>
        <li><code>join(", ")</code> – joins the items in the list with a separator</li>
        <li><code>sort</code> – orders the items alphabetically (A-Z) or numerically (lowest first)</li>
        <li><code>sort(true)</code> – orders the items in reverse alphabetically (Z-A) or numerically (highest first)</li>
      </ul>      
      
      <h3 id="number-filters">Number filters</h3>
      
      <ul>
        <li><code>round</code> – rounds a decimal to the nearest whole number</li>
      </ul>  

      <p>See the <a href="https://mozilla.github.io/nunjucks/templating.html#builtin-filters">full list of built-in filters</a> in the Nunjucks documentation.</p>

    </div>
  </div>
{% endblock %}
