{% extends 'layout.html' %}

{% block pageTitle %}
  How to guides - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>Guides</h1>

      <p class="nhsuk-lede-text">These guides show you how to use the prototype kit, from creating a simple page to building complex user journeys.</p>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      {{ card({
        href: "how-tos/build-basic-prototype/index",
        clickable: "true",
        headingLevel: 5,
        heading: "Tutorial: building a basic prototype",
        description: "Learn how to use the prototype kit with step by step instructions.",
        headingClasses: "nhsuk-heading-s",
        classes: "nhsuk-u-margin-bottom-5"
      }) }}

    </div>
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">General use</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/making-pages">Making pages</a></li>
        <li><a href="/how-tos/adding-assets">Adding CSS, JavaScript and images</a></li>
        <li><a href="/how-tos/components">Using components</a></li>
        <li><a href="/how-tos/passing-data-page">Passing data page to page</a></li>
        <li><a href="/how-tos/branching">Branching – showing different pages based on user input</a></li>
      </ul>
      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Storing and sharing code</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/github">Store your code online with GitHub and GitHub Desktop</a>
        <li><a href="/how-tos/git">Set up Git using the terminal</a></li>
      </ul>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Publishing your prototype</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/publish-your-prototype-online">Publish your prototype online</a></li>
      </ul>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Updating the kit</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/updating-the-kit">Updating the kit</a></li>
      </ul>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Advanced use</h2>

      <ul class="nhsuk-list">
        <li><a href="/how-tos/switching-from-govuk-prototype-kit">Switching from the GOV.UK Prototype Kit</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
