{% extends 'layout.html' %}

{% set currentSection = "Guides" %}

{% set pageName = "Making pages" %}

{% block beforeContent %}
  {% include "how-tos/includes/breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ pageName }}
      </h1>

      <p class="nhsuk-lede-text">Use your code editor to make pages.</p>

      <p>Create all your pages in the <code>/app/views</code> folder.</p>

      <p>The file names must end in <code>.html</code> – this is called the file extension.</p>

      <p> It’s a good idea to name the files using a lowercase version of the page title, with spaces replaced by hyphens. For example, <code>find-a-gap.html</code>.</p>

      <p>The pages you create are automatically viewable in your browser at the URL that matches the file name. For example, if you create a page called <code>contact.html</code> and go to <code>http://localhost:3000/contact</code> in your browser, you will see that page.</p>

      <h2>Specifying a layout</h2>

      <p>Each page you create will need to specify which layout it uses. Otherwise you’ll likely get a plain white background with no header or footer!</p>

      <p>To use the standard layout that comes with the prototype kit, add this line to the top of each file:</p>

      {% call codeSnippet({ language: "js" }) %}{% raw %}
{% extends "layout.html" %}
      {% endraw %}{% endcall %}

      <h2>Using subfolders</h2>

      <p>The kit allows you add pages into sub-folders within <code>app/views</code>.</p>

      <p>For example, you can create a page at <code>app/views/medicines/ibuprofen.html</code>, and then view the page by going to <code>http://localhost:3000/medicines/ibuprofen</code>.</p>

      <h2>Index pages</h2>

      <p>If a file is named <code>index.html</code> it is special, and can be viewed in your browser without specifying the full name.</p>

      <p>The file at <code>app/views/index.html</code> is your ‘home page’, and can be viewed at <code>http://localhost:3000/</code>.</p>

      <p>You can also add files named <code>index.html</code> within sub-folders.</p>

      <p>For example, a file named <code>app/views/medicines/index.html</code> can be viewed at <code>http://localhost:3000/medicines/</code>.</p>

    </div>

  </div>
{% endblock %}
