{% extends 'layout.html' %}

{% block pageTitle %}
  How to pass data page to page - NHS prototype kit
{% endblock %}

{% block beforeContent %}
  {% include "how-tos/includes/breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Passing data page to page</h1>

      <p>The kit stores data from all answers that users give in a prototype. This lets you use or show the answers later.</p>

      <p><a href="/examples/passing-data/passing-data-question-name">View an example of what passing data looks like in a prototype.</a></p>


      <h2>How to use</h2>

      <p>When a user answers questions, their answer is saved within the 'data' object using the <code>name</code> attribute of the input.</p>

      <p>For example, if you use this input to collect a user’s name:</p>

      <pre class="app-pre"><code class="language-markup">{% raw %}{{ input({
  label: {
    text: "Full name"
  },
  id: "full-name",
  name: "fullName"
}) }}
{% endraw %}</code></pre>

      <p>You can show what the user entered later on like this:</p>

      <pre class="app-pre"><code class="language-markup">{% raw %}<p>{{ data.fullName }}</p>{% endraw %}</code></pre>

      <p>Answers from checkboxes will appear with commas, like 'a,b,c'. To show them as a list, use a <code>for</code> loop:</p>

      <pre class="app-pre"><code class="language-markup">{{"<ul>
  {% for condition in data.conditions %}
    <li>{{ condition }}</li>
  {% endfor %}
</ul>" | escape }}</code></pre>

      <h3>Showing answers in inputs</h3>

      <p>If a user goes back to a page where they entered data, they would expect to see the answer they gave.</p>

      <p>Most inputs use the <code>value</code> option:</p>

      <pre class="app-pre"><code class="language-markup">{% raw %}{{ input({
  label: {
    text: "Full name"
  },
  id: "full-name",
  name: "fullName",
  value: data.fullName
}) }}
{% endraw %}</code></pre>

      <p>For checkboxes and dates you need to use the <code>values</code> option (plural) instead:</p>

      <pre class="app-pre"><code>&#123;&#123; checkboxes({
  idPrefix: "conditions",
  name: "conditions",
  fieldset: {
    legend: {
      text: "Have you ever had any of these conditions?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
    }
  },
  values: data.conditions,
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "Asthma",
      text: "Asthma"
    },
    {
      value: "Cancer",
      text: "Cancer"
    },
    {
      value: "Lung disease",
      text: "Lung disease"
    },
    {
      value: "Diabetes",
      text: "Diabetes"
    }
  ]
}) &#125;&#125;</code></pre>

      <p>Being able to set checkboxes and radios in this way was added in <a href="https://github.com/nhsuk/nhsuk-frontend/releases/tag/v9.2.0">NHS Frontend version 9.2.0</a>.</p>

      <h3>Clearing data</h3>

      <p>To clear the data, for example at the end of a user research session, ask the user to close their browser.</p>
    </div>

  </div>
{% endblock %}
