{% extends 'layout.html' %}

{% set currentSection = "Guides" %}

{% set pageName = "Passing data page to page" %}

{% block beforeContent %}
  {% include "how-tos/includes/breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ pageName }}</h1>

      <p>The kit stores data from all answers that users give in a prototype. This lets you use or show the answers later.</p>

      <p><a href="/examples/passing-data/passing-data-question-name">View an example of what passing data looks like in a prototype.</a></p>


      <h2>How to use</h2>

      <p>When a user answers questions, their answer is saved within the 'data' object using the <code>name</code> attribute of the input.</p>

      <p>For example, if you use this input to collect a user’s name:</p>

      {% call codeSnippet({language: "js"}) %}{% raw %}{{ input({
  label: {
    text: "Full name"
  },
  id: "full-name",
  name: "fullName"
}) }}
{% endraw %}{% endcall %}

      <p>You can show what the user entered later on like this:</p>

      {% call codeSnippet({language: "html"}) %}{% raw %}
      <p>{{ data.fullName }}</p>
      {% endraw %}{% endcall %}

      <p>Answers from checkboxes will appear with commas, like 'a,b,c'. To show them as a list, use a <code>for</code> loop:</p>

      {% call codeSnippet({language: "html"}) %}{% raw %}
<ul>
  {% for condition in conditions %}
    <li>test</li>
  {% endfor %}
</ul>
      {% endraw %}{% endcall %}

      <h3>Showing answers in inputs</h3>

      <p>If a user goes back to a page where they entered data, they would expect to see the answer they gave.</p>

      <p>Most inputs use the <code>value</code> option:</p>

      {% call codeSnippet({language: "js"}) %}{% raw %}
{{ input({
  label: {
    text: "Full name"
  },
  id: "full-name",
  name: "fullName",
  value: data.fullName
}) }}
      {% endraw %}{% endcall %}

      <p>For checkboxes and dates you need to use the <code>values</code> option (plural) instead:</p>

      {% call codeSnippet({language: "js"}) %}{% raw %}
{{ checkboxes({
  idPrefix: "conditions",
  name: "conditions",
  fieldset: {
    legend: {
      text: "Have you ever had any of these conditions?",
      classes: "nhsuk-fieldset__legend--l",
      isPageHeading: true
    }
  },
  values: data.conditions,
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "Asthma",
      text: "Asthma"
    },
    {
      value: "Cancer",
      text: "Cancer"
    },
    {
      value: "Lung disease",
      text: "Lung disease"
    },
    {
      value: "Diabetes",
      text: "Diabetes"
    }
  ]
}){% endraw %}{% endcall %}

      <p>Being able to set checkboxes and radios in this way was added in <a href="https://github.com/nhsuk/nhsuk-frontend/releases/tag/v9.2.0">NHS Frontend version 9.2.0</a>.</p>

      <h3>Clearing data</h3>

      <p>To clear the data, for example at the end of a user research session, ask the user to close their browser or use the ‘Reset data’ link in the footer.</p>
    </div>

  </div>
{% endblock %}
