{% extends 'layout.html' %}

{% set currentSection = "Guides" %}

{% set pageName = "Set page titles" %}

{% block beforeContent %}
  {% include "how-tos/includes/breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ pageName }}</h1>

      {{ insetText({
        text: "This feature requires version 6.3.0 of the NHS prototype kit or above."
      }) }}

      <p>The page title (<code>&lt;title&gt;</code>) is displayed in the browser tab.</p>

      <p>The NHS Digital service manual has guidance on <a href="https://service-manual.nhs.uk/design-system/styles/page-template#page-title">writing page titles</a>.</p>

      <p>To follow this guidance, set the first part of the page title by setting the <code>pageName</code> variable somewhere at the top of your view template:</p>

      {% call codeSnippet({ language: "js" }) %}{% raw %}
        {% set pageName = "Register with a GP" %}
      {% endraw %}{% endcall %}

      <p>This will be used along with the <code>serviceName</code> set in <code>config.js</code> to generate a page title with this format:</p>

      {% call codeSnippet({ language: "html" }) %}{% raw %}
        Register with a GP - Service name goes here - NHS
      {% endraw %}{% endcall %}

      <p>As the page name used in the title will often be the same as the <code>&lt;h1&gt;</code> heading, you can re-use the same variable there to ensure consistency:</p>

      {% call codeSnippet({ language: "js" }) %}{% raw %}
        {% set pageName = "Register with a GP" %}

{% block content %}
  <h1>{{ pageName }}</h1>
{% endblock %}
      {% endraw %}{% endcall %}

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">Adding an error prefix</h2>

      <p>If your prototype includes validation error messages, you can set the <code>errors</code> variable to include an error prefix in the page title:</p>

      {% call codeSnippet({ language: "js" }) %}{% raw %}
      {% set pageName = "Your previous address" %}
{% set errors = true %}
      {% endraw%}{% endcall %}

      <p>This will generate the page title:</p>

{% call codeSnippet({ language: "html" }) %}{% raw %}
        Error: Your previous address - Service name goes here - NHS
      {% endraw %}{% endcall %}

      <p>The error prefix will also be included if the <code>errors</code> variable is set to a non-empty string, array or object</p>

      <h2 class="nhsuk-heading-m">Custom page title formats</h2>

      <p>If you need to use a different page title format, you can do so by overriding the <code>pageTitle</code> block in your <code>layout.html</code> file.</p>

      <p>For example:</p>

      {% call codeSnippet({ language: "js" }) %}{% raw %}

      {% block pageTitle -%}
  {{ pageName }} - NHS {{ serviceName }}
{%- endblock %}
      {% endraw %}{% endcall %}
    </div>
  </div>
{% endblock %}
