{% extends 'layout.html' %}

{% block pageTitle %}
  Switching from the GOV.UK prototype kit - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
  {% include "how-tos/includes/breadcrumb.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Switching from the GOV.UK prototype kit
      </h1>


<p>
      If you have used the GOV.UK prototype kit before, most of the things you know are the same in the NHS.UK prototype kit, but there are some differences.
    </p>
<h2>Installing and running the NHS.UK prototype kit</h2>

<p>
When you are installing and running your prototype you need to:
</p>
<ul>
<li>check if you have the right version of node - if you need to use both the NHS.UK and GOV.UK prototype kit at the same time you may need to switch node versions for example by installing a node version manager</li> 
<li>run your prototype with the action <code>npm run watch</code> and not <code>npm run dev</code></li>
</ul>

<h2>Making pages</h2>

<p>
When you are making your pages you need to:
</p>
<ul>
  <li>use the NHS.UK design system for <a href="https://service-manual.nhs.uk/design-system/styles">styles</a>, <a href="https://service-manual.nhs.uk/design-system/components">components</a> and <a href="https://service-manual.nhs.uk/design-system/patterns">patterns</a> 
  </li>
<li>use NHS.UK page templates and layouts - these are different from GOV.UK. If you copy templates from the GOV.UK prototype kit they may not work </li>
<li>use NHS.UK macros instead of GOV.UK ones as they different naming conventions, for example use  <code>radios</code> and not <code>govukRadios</code>. You can copy these from the <a href="https://service-manual.nhs.uk/design-system">NHS.UK design system</a>
</li>
<li>
  be aware that the NHS.UK prototype kit may not have functionality that is in the GOV.UK one, for example, plugins
</li>
</ul>
   
      {% include "how-tos/includes/back-button.html" %}

    </div>

  </div>
{% endblock %}
