{% extends 'layout.html' %}

{% set currentSection = "Get started" %}
{% set pageName = "Windows install guide" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/",
        text: "Home"
      }
    ],
    href: "/install",
    text: "Get started"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>{{ pageName }}</h1>

    <p class="nhsuk-lede-text">
      To start making prototypes on your Windows machine, you need to setup the right tools to make the kit work.
    </p>

    <p>This guide will show you how to get setup in 8 steps.</p>

    <p>You do not need any technical knowledge to follow along.</p>

    <p>
      Installation takes up to 20 minutes depending on how much you need to install.
    </p>

    {{ insetText({
      html: '<p>There are some <a href="/install/nhs-england-windows-laptops">extra steps for NHS England Windows laptops</a> you must do before you start.</p>',
      classes: "nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 nhsuk-u-margin-bottom-4"
    }) }}

    {{ actionLink({ text: "Start install guide", href: "/install/windows/terminal" }) }}

    <h2 class="nhsuk-heading-m">Problems using this guide</h2>
    <p>If you have any problems:</p>
     <ul>
      <li>ask a developer on your team (if you have one)</li>
      <li>email us at <a href="mailto:england.service-manual@nhs.net?subject=NHS prototype kit - Installation">england.service-manual@nhs.net</a></li>
      <li>get in touch on the <a href="https://nhs-service-manual.slack.com/messages/CFYL2GDGW" rel="nofollow">NHS digital service manual #prototype-kit Slack channel</a></li>
     </ul>
    </p>

  </div>
</div>
{% endblock %}

