{% extends 'layout.html' %}

{% block header %}
  {{ super() }}

  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-hero__wrapper nhsuk-u-padding-bottom-0">
            <h1 class="nhsuk-heading-l">
              Rapidly create HTML prototypes of NHS services
            </h1>
            <p class="nhsuk-body-l">
              Use prototypes to get valuable feedback and insights from user research or the people you work with.

<p class="nhsuk-u-margin-bottom-0">
{{ button({
  text: "Get started",
  href: "/install",
  classes: "nhsuk-button--reverse"
}) }}
</p>

          </div>
        </div>
        <div class="nhsuk-grid-column-one-half">
          <img class="nhsuk-image__img" src="/images/homepage-illustration.svg" alt="" role="presentation">
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <ul class="nhsuk-grid-row nhsuk-card-group">

    <!-- hidden as hopefully not needed with 'get started' as action button  -->
    <!--
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            "href": "/install",
            "clickable": "true",
            "heading": "Get started",
            "headingClasses": "nhsuk-heading-m",
            "description": "Download and installation guides"
          }) }}
        </li>
      -->
    <!--  end hidden section -->
    <li class="nhsuk-grid-column-full nhsuk-card-group__item">

      <div class="nhsuk-card nhsuk-card--clickable">
    <div class="nhsuk-card__content">

<strong class="nhsuk-tag nhsuk-u-margin-right-3 " >
  What's new
</strong>

      <h2 class="nhsuk-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-display-inline-block nhsuk-u-font-weight-normal"><a class="nhsuk-card__link" href="/updates">November 2024: task lists and new guidance added</a></h2>

    </div>
  </div>

</li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            "href": "/how-tos",
            "clickable": "true",
            "heading": "Guides",
            "headingClasses": "nhsuk-heading-m",
            "description": "Learn to create pages, use components, add data and more"
          }) }}
        </li>

  <!--
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            "href": "updates",
            "clickable": "true",
            "heading": "What's new",
            "headingClasses": "nhsuk-heading-m",
            "description": "Check what changes have been made to the kit recently"
          }) }}
        </li>
-->
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            "href": "about",
            "clickable": "true",
            "heading": "Support",
            "headingClasses": "nhsuk-heading-m",
            "description": "Contact the team to get help and support"
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          {{ card({
            "href": "contribute",
            "clickable": "true",
            "heading": "Contribute",
            "headingClasses": "nhsuk-heading-m",
            "description": "Get involved with the kit - from adding features to improving guidance"
          }) }}
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
