{% extends 'layout.html' %}

{% block header %}
  {{ super() }}

  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-heading-l">
              Rapidly create HTML prototypes of NHS services
            </h1>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-5">
              Use prototypes to get valuable feedback and insights from user research or the people you work with.
            </p>

            {{ button({
              text: "Get started",
              href: "/install",
              classes: "nhsuk-button--reverse nhsuk-u-margin-bottom-2"
            }) }}
          </div>
        </div>
        <div class="nhsuk-grid-column-one-half">
          <img class="nhsuk-image__img" src="/images/homepage-illustration.svg" alt="" role="presentation">
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-m">Realistic</h2>
      <p>Create prototypes that behave like the real thing, across devices, using components and styles from the NHS Design System.
      </p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-m">Accessible</h2>
      <p>Test designs with people who use assistive technology, including screen readers, voice control and screen magnification.
      </p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-m">Free and open source</h2>
      <p>No licence fees to pay. No need for procurement. Use with common free tools like Git and GitHub for collaboration.
      </p>
    </div>
  </div>
{% endblock %}
