{% extends 'layout.html' %}

{% set pageName = "Page templates" %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

      <p>You can find some example page templates in <a href="https://service-manual.nhs.uk/design-system/patterns">patterns section of the NHS service manual</a>.</p>

      <p>These include:</p>

      <ul>
        <li><a href="https://service-manual.nhs.uk/design-system/patterns/question-pages">question pages</a></li>
        <li><a href="https://service-manual.nhs.uk/design-system/patterns/confirmation-page">confirmation pages</a></li>
        <li><a href="https://service-manual.nhs.uk/design-system/patterns/check-answers">check answers pages</a></li>
        <li><a href="https://service-manual.nhs.uk/design-system/patterns/complete-multiple-tasks">task list pages</a></li>
      </ul>

      <p>To use one, copy and paste the Nunjucks code from the page into a new file in your <strong>/app/views</strong> folder.</p>

      <p>The file name should end with <code>.html</code> and not contain any spaces, for example <code>what-are-your-symptoms.html</code></p>

      <p>You will also need to add this line of code to the top of each page:</p>

{% call codeSnippet({ language: "html" }) %}{% raw %}
{% extends "layout.html" %}
{% endraw %}{% endcall %}

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">NHS website pages</h2>

      <p>If you are prototyping a service which includes pages on the NHS website, you can use these additional templates:</p>

      <ul class="nhsuk-list">
        <li><a href="/templates/nhsuk-homepage">NHS website homepage</a></li>
        <li><a href="/templates/nhsuk-healthaz">Health A to Z</a></li>
        <li><a href="/templates/nhsuk-livewell">Live Well</a></li>
        <li><a href="/templates/nhsuk-mentalhealth">Mental health</a></li>
        <li><a href="/templates/nhsuk-socialcare">Care and support</a></li>
        <li><a href="/templates/nhsuk-pregnancy">Pregnancy</a></li>
        <li><a href="/templates/nhsuk-nhs-services">NHS services</a></li>
      </ul>

    </div>

  </div>
{% endblock %}
