{% extends "templates/nhsuk-layout.html" %}

{% block pageTitle %}Social care and support guide - NHS{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-u-reading-width">
        <h1>Social care and support guide</h1>
        <p class="nhsuk-lede-text">
          If you or someone you know needs help with day-to-day living because of illness or disability, this website explains your options and where you can get support.
        </p>
      </div>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            heading: "Introduction to care and support",
            headingClasses: "nhsuk-heading-m",
            description: "A quick guide for people who have care and support needs and their carers",
            href: "#",
            clickable: true,
            primary: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            heading: "Help from social services and charities",
            headingClasses: "nhsuk-heading-m",
            description: "Includes helplines, needs assessments, advocacy and reporting abuse",
            href: "#",
            clickable: true,
            primary: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            heading: "Care services, equipment and care homes",
            headingClasses: "nhsuk-heading-m",
            description: "Includes home adaptations, help at home from a paid carer, staying safe and housing",
            href: "#",
            clickable: true,
            primary: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            heading: "Money, work and benefits",
            headingClasses: "nhsuk-heading-m",
            description: "How to pay for care and support, and where you can get help with costs",
            href: "#",
            clickable: true,
            primary: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            heading: "Care after a hospital stay",
            headingClasses: "nhsuk-heading-m",
            description: "Includes hospital discharge and care and support afterwards",
            href: "#",
            clickable: true,
            primary: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            heading: "Support and benefits for carers",
            headingClasses: "nhsuk-heading-m",
            description: "Includes carer&#x27;s assessments, support from local councils, respite care and help for young carers",
            href: "#",
            clickable: true,
            primary: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            heading: "Practical tips if you care for someone",
            headingClasses: "nhsuk-heading-m",
            description: "Includes advice on challenging behaviour, moving and lifting people and medicines",
            href: "#",
            clickable: true,
            primary: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            heading: "Caring for children and young people",
            headingClasses: "nhsuk-heading-m",
            description: "Services, support and tips if you care for someone under 21, and moving to adult social services",
            href: "#",
            clickable: true,
            primary: true
          }) }}
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            heading: "Making decisions for someone else",
            headingClasses: "nhsuk-heading-m",
            description: "Includes powers of attorney and mental capacity",
            href: "#",
            clickable: true,
            primary: true
          }) }}
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
