{% extends "layout.html" %}

{% set currentSection = "Guides" %}

{% block beforeContent
%}

{% if pageName == "Set up GitHub and GitHub Desktop"%}
{% include "how-tos/includes/breadcrumb.html" %}
{% else %}
{{ breadcrumb({ items: [ { href: "/", text: "Home" }, { href: "/how-tos",
text: "Guides" }, { href: "/how-tos/github/index", text: "Store your code online with
GitHub and GitHub desktop" } ] })
}}
{% endif %}
{% endblock %}
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <h1>
      <span role="text">        
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">
          <span class="nhsuk-u-visually-hidden">
          -
          </span>
            Store code online with GitHub and GitHub Desktop
        </span>
      </span>
      {{ pageName }}
    </h1>

    {{ contentsList({
      items: [
        {
          href: "/how-tos/github/",
          text: "Overview",
          current: ("true" if pageName and (pageName == "Overview") else '')
        },
        {
          href: "/how-tos/github/setup-github-desktop",
          text: "Set up GitHub and GitHub Desktop",
          current: ("true" if (pageName and  pageName == "Set up GitHub and GitHub Desktop") else '')
        },
        {
          href: "/how-tos/github/store-new-prototype",
          text: "Store a new prototype on GitHub",
          current: ("true" if (pageName and pageName == "Store a new prototype on GitHub") else '' )
        }
        ,
        {
          href: "/how-tos/github/download-existing-prototype",
          text: "Download an existing prototype from GitHub",
          current: ("true" if (pageName and pageName == "Download an existing prototype from GitHub") else '' )
        }
        ,
        {
          href: "/how-tos/github/collaborate",
          text: "Collaborate on a prototype",
          current: ("true" if (pageName and pageName == "Collaborate on a prototype") else '')
        }
      ]
    }) }}


{% block hub %}
<p>
[add text here ]
</p>
    {% endblock %}


{% if pageName == "Overview" %}{# first page #}

{{ pagination({
  nextUrl: "/how-tos/github/setup-github-desktop",
  nextPage: "Set up GitHub and GitHub Desktop"
}) }}

{% elif pageName == "Set up GitHub and GitHub Desktop" %}
{{ pagination({
    previousUrl: "/how-tos/github/index",
    previousPage: "Overview",
    nextUrl: "/how-tos/github/store-new-prototype",
    nextPage: "Store a new prototype on GitHub"
}) }}

{% elif pageName == "Store a new prototype on GitHub" %}
{{ pagination({
    previousUrl: "/how-tos/github/setup-github-desktop",
    previousPage: "Set up GitHub and GitHub Desktop",
    nextUrl: "/how-tos/github/download-existing-prototype",
    nextPage: "Download an existing prototype from GitHub"
}) }}

{% elif pageName == "Download an existing prototype from GitHub" %}
{{ pagination({
    previousUrl: "/how-tos/github/store-new-prototype",
    previousPage: "Store a new prototype on GitHub",
    nextUrl: "/how-tos/github/collaborate",
    nextPage: "Collaborate on a prototype"
}) }}

{% else %}{# last page #}

{{ pagination({
  previousUrl: "/how-tos/github/download-existing-prototype",
  previousPage: "Download an existing prototype from GitHub"
}) }}

{% endif %}
  </div>
</div>
{% endblock %}
