{% set pageTitle = "Collaborate on a prototype" %}
{% extends "how-tos/github/_BASE.njk" %} 
{% block hub %}

    <p>
      When you store a prototype on GitHub, you can collaborate on your code
      with anyone in your team.
    </p>
    <p>
      You can make a "branch" (a separate version) so it does not affect anyone
      else.
    </p>
    <p>
      When you are ready to suggest your changes, you can make a "pull request"
      to the <code>main</code> branch. This will share your suggested changes
      with the rest of the team for them to review.
    </p>
    <p>
      If you are working on your own, you can make changes on
      <code>main</code> without using branches.
    </p>
    <h2 class="nhsuk-heading-m">Create a branch</h2>

    <ol class="nhsuk-list nhsuk-list--number">
      <li>
        In Github Desktop top bar, select
        <strong>Current branch</strong>.
      </li>
      <li>
        Select
        <strong>New branch</strong>.
      </li>
      <li>
        Enter a branch name and select
        <strong>Create branch based on 'main'</strong>.
      </li>
    </ol>
    <h2 class="nhsuk-heading-m">Save and share changes</h2>

    <p>
      Make your changes to the prototype and save them in your code editor. Then
      you can share them by creating a "pull request".
    </p>
    <p>GitHub Desktop will show you the files that have changed.</p>
    <ol class="nhsuk-list nhsuk-list--number">
      <li>
        In Github Desktop, bottom left, enter a summary in the box above the
        <strong>description</strong> (leave the description blank).
      </li>
      <li>Select <strong>Commit to branch-name</strong></li>
      <li>
        Click <strong>Publish repository</strong>. This publishes your code to
        GitHub.
      </li>
      <li>
        If you make more changes, commit them and select
        <strong>Push origin</strong>.
      </li>
    </ol>

    <h2 class="nhsuk-heading-m">Make a pull request</h2>

    <ol class="nhsuk-list nhsuk-list--number">
      <li>
        Select <strong>Create a pull request</strong>. This tells other people about
        your new branch, so they can review and suggest changes. If you cannot see that button, select the <strong>Branch</strong> menu,
        then <strong>Create a pull request</strong>.
      </li>
      <li>
        Creating a pull request will open GitHub website. Write a title and
        description of your changes and select
        <strong>Create pull request</strong>.
      </li>
    </ol>
    <h2 class="nhsuk-heading-m">Review a pull request</h2>
    <p>Another member of the team should review the pull request on GitHub.</p>

    <p>They should:</p>
    <ol class="nhsuk-list nhsuk-list--number">
      <li>go to the <strong>Files Changed</strong> tab.</li>
      <li>select <strong>Review changes</strong></li>
    </ol>
    <p>When they have approved the pull request:</p>
    <ol class="nhsuk-list nhsuk-list--number">
      <li>go to the Conversation tab</li>
      <li>select <strong>Merge pull request</strong></li>
    </ol>

    <h2 class="nhsuk-heading-m">Download changes</h2>

    <p>
      When a pull request is merged, you'll need to update your version (also
      called "pulling" changes).
    </p>

    <ol class="nhsuk-list nhsuk-list--number">
      <li>
        In Github Desktop top bar, select <strong>Current branch</strong>.
      </li>
      <li>Select <strong>main</strong>.</li>
      <li>
        Click <strong>Fetch origin</strong> and then
        <strong>Pull origin</strong>.
      </li>
      <li>
        Select <strong>Open in Visual Studio Code</strong> to view the changes.
      </li>
    </ol>
    <h2 class="nhsuk-heading-m">Dealing with conflicts</h2>
    <p>
      If 2 people edit the same file at the same time, it can sometimes cause an
      error in GitHub called a "conflict".
    </p>
    <p>
      If there is a conflict, you must manually resolve the change. Ask a
      developer on your team to help.
    </p>
{% endblock %}
