{% extends "layout.html" %} {% block pageTitle %} Download an existing prototype from GitHub
- NHS prototype kit {% endblock %} 


{% block beforeContent %}  
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/how-tos",
      text: "Guides"
    }, {
      href: "/how-tos/github/index",
      text: "Store code online with GitHub and GitHub desktop"
    }
  ]
}) }}
{% endblock %} 

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-xl">Download an existing prototype from GitHub    </h1>

    <p>
      To store your new prototype in GitHub, you need to
      <a href="index">set up GitHub Desktop</a>. If you work for NHS England, you also need to followed <a href="nhs-england">the extra GitHub steps</a>.
    </p>
<p>
    You can work with others on an existing prototype. For example, if you're joining a team that has a prototype.
</p>
    <h2 class="nhsuk-heading-m">
        Download the prototype
    </h2>
<p>To work on an existing prototype, you'll need to download (or 'clone') the repository.
</p>
    <ol class="nhsuk-list nhsuk-list--number">
      <li>
        Go to the prototype's repository on GitHub (if you do not have a link, ask your team).
      </li>
      <li>
        Select the <strong>Code</strong> button and <strong>Open with GitHub Desktop</strong>.
      </li>
      <li>
        Choose a local path. This should be your prototypes folder.
      </li>
    </ol>
    <h2 class="nhsuk-heading-m">
        Open the prototype
    </h2>

    <ol class="nhsuk-list nhsuk-list--number">
      <li>
        In GitHub Desktop, select <strong>Open in Visual Studio Code</strong>.
      </li>
      <li>
        Go to the terminal in Visual Studio Code. Select <strong>Terminal</strong> and <strong>New Terminal</strong>.
      </li>
      <li>In the terminal, run <code>npm install</code></li>
    </ol>

    <h2 class="nhsuk-heading-m">
      What do do next
    </h2>
    <p>Go to the <a href="/how-tos">other guides</a> to find out how to make a prototype.</p>
    <p>
    If other people will be working on the same prototype, find out how to <a href="collaborate">collaborate on prototypes</a>. 
  </p>
  </div>
</div>
{% endblock %}
