{% set pageTitle = "Overview" %}
{% extends "how-tos/github/_BASE.njk" %} 
{% block hub %}

    <p>
      GitHub is a way to store code online so you can collaborate with others.
      It also makes it easier to publish your prototype online using a hosting
      service.
    </p>

    <p>Terms we use include:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Git – software that stores versions of your code</li>
      <li>GitHub – a website that shares your code online</li>
      <li>
        GitHub Desktop – an app that puts your code on GitHub, so that you can
        collaborate with other people in your team
      </li>
      <li>repository or "repo" – a project stored in Git</li>
      <li>
        organisation – a shared account normally run by an organisation or
        community
      </li>
    </ul>


  
    {{ insetText({
      html: '<p>
        If you do not want to use GitHub or GitHub Desktop, go to our instructions for
        <a href="/how-tos/git">setting up Git using the terminal</a>.
      </p>'
    }) }}



{% endblock %}
