{% set pageTitle = "Set up GitHub and GitHub Desktop" %}
{% extends "how-tos/github/_BASE.njk" %} 
{% block hub %}

    <p>
      GitHub is a way to store code online so you can collaborate with others.
      It also makes it easier to publish your prototype online using a hosting
      service.
    </p>

    <p>Some concepts:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Git - software that stores versions of your code</li>
      <li>GitHub - a website that shares your code online</li>
      <li>
        GitHub Desktop - an app that puts your code on GitHub (so that you can
        collaborate with others in your team)
      </li>
      <li>Repository/repo - a project stored in Git</li>
      <li>
        Organisation - a shared account normally run by an organisation or
        community
      </li>
    </ul>


    {{ insetText({
      html: '<p>
        If you have never run the NHS prototype kit on your computer, finish the
        <a href="/install/index">get started guide</a> first. This will mean
        that you have the right tools to complete these steps.
      </p>'
    }) }}


    <h2 class="nhsuk-heading-m">Set up GitHub Desktop</h2>

    <ol class="nhsuk-list nhsuk-list--number">
      <li>
        <a href="https://github.com/join">Create a free GitHub account</a> - if
        you work for NHS England you must also
        <a href="/how-tos/github/nhs-england"
          >set up your account to be publish code in the right place</a
        >.
      </li>

      <li>
        <a href="https://desktop.github.com/">Download the GitHub Desktop app</a
        >.
      </li>

      <li>Run GitHub Desktop.</li>

      <li>Sign in with your GitHub account details.</li>
    </ol>

    <h2 class="nhsuk-heading-m">Using GitHub Desktop</h2>
    <p>Use GitHub Desktop to work with repositories.</p>
    <p>
      A repository contains all of the files in a prototype. You can use the
      repository to view the file history and work on your prototype with
      others.
    </p>
    <p>You can now:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>
        <a href="/how-tos/github/store-new-prototype">store your new prototype in GitHub</a>
      </li>
      <li>
        <a href="/how-tos/github/download-existing-prototype"
          >download an existing prototype from GitHub</a
        >
      </li>
    </ul>
    <p>
      After you have stored or downloaded a prototype, you can
      <a href="/how-tos/github/collaborate">collaborate with other people on your code</a>.
    </p>
    <p>
      You can also
      <a
        href="https://docs.github.com/en/desktop/overview/getting-started-with-github-desktop"
        >find out about how to use GitHub Desktop on the GitHub website</a
      >.
    </p>

{% endblock %}
