{% extends "layout.html" %} {% block pageTitle %} Using GitHub if you work for NHS England - NHS prototype kit {% endblock %} 


{% block beforeContent %}  
{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/how-tos",
      text: "Guides"
    }, {
      href: "/how-tos/github/index",
      text: "Store code online with GitHub and GitHub desktop"
    }
  ]
}) }}

{% endblock %} 
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-xl">
        Using GitHub if you work for NHS England
    </h1>

    <p>
        Code repositories for NHS England digital teams are usually stored in the <a href="https://github.com/nhsdigital">NHS Digital GitHub organisation</a>. 
        This is a shared account where administrators can manage all repositories.  Get added to it to:
    </p>
    <ul class="nhsuk-list nhsuk-list--bullet">
        <li>
            add a new repository that other people in the organisation can find and make changes to
        </li>
        <li>
           make changes to an existing prototype 
        </li>
      </ul>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>
        Some NHS prototype repositories are in different GitHub organisations. These repositories are being merged - do not add new repositories to them unless your team tells you to do it.
    </p>
</div>
    <h2 class="nhsuk-heading-m">How to get added to the organisation 
    </h2>

    <p>
        An NHS England GitHub admin must add you to the NHS Digital organisation - you cannot do it yourself. As your team for details on who to contact.
    </p>
    <p>If you already have a GitHub account you can use the same account.</p>
    <h2 class="nhsuk-heading-m">Moving a repository into the organisation</h2>

    
    <p>
        If you create a repository somewhere else by mistake (for example, on your own account), you can transfer it into the NHS Digital organisation. Ask your team for help on what to do. 
    </p>


  </div>
</div>
{% endblock %}
