{% set pageName = "Set up GitHub and GitHub Desktop" %}
{% extends "how-tos/github/_BASE.njk" %} 
{% block hub %}

<p>To use GitHub Desktop you need to follow these steps.</p>

<ol class="nhsuk-list nhsuk-list--number">
  <li>Install Git.</li>
  <li>Create a GitHub account.</li>
  <li>Download and set up the GitHub Desktop app.</li>
</ol>


{{ insetText({
  html: '<p>
    If you have never run the NHS prototype kit on your computer, finish the
    <a href="/install/index">get started guide</a> first. This will mean
    that you have the right tools to complete these steps.
  </p>'
}) }}

  <h2 class="nhsuk-heading-m">1. Install Git</h2>
<p>The first thing you need to do is <a href="https://git-scm.com/downloads" target="_blank" rel="noopener">install Git (opens in new tab)</a>.</p>
<p>You do not need to set your name and email address now. You will do that later. </p>


<h2 class="nhsuk-heading-m">2. Create a GitHub account</h2>

<p>
    Go to GitHub.com and <a href="https://github.com/join">create a free GitHub account</a>.</p>


<h3 class="nhsuk-heading-s">If you work for NHS England</h3>

<p>
  Code repositories or "repos" for NHS England digital teams are usually stored in one of these shared accounts:</p>
  <ul>
    <li><a href="https://github.com/nhsuk">NHS.UK GitHub organisation</a></li>
    <li><a href="https://github.com/nhsdigital">NHS Digital GitHub organisation</a></li>
  </ul>
  <p>Ask your development team or technical leadership where you should store your prototype.</p> 
  <p>It is usually easiest if you get your account added to the organisation first. An NHS England GitHub administrator must add you. Ask your team who to talk to.
  </p>




<h2 class="nhsuk-heading-m">3. Download and set up the GitHub Desktop app</h2>
    <p><a href="https://desktop.github.com/">Download the GitHub Desktop app</a
    >.</p>

   <p>Sign in with your GitHub account details.</p>

<p>You can now use GitHub Desktop to work with repos.
  A repo contains all of the files in a prototype. You can use the
  repo to view the file history and work on your prototype with
  other people.
</p>

{% endblock %}
