{% set pageTitle = "Store a new prototype on GitHub" %}
{% extends "how-tos/github/_BASE.njk" %}
{% block hub %}
    <p>
      If you have made a new prototype (for example, after finishing our <a href="/how-tos/build-basic-prototype">basic prototype tutorial</a>), you will need to store it online to share it with other people.</p>

      <p>To do these tasks, you must have <a href="/how-tos/github/setup-github-desktop">set up GitHub Desktop</a>.</p>

    <h2 class="nhsuk-heading-m">
      Add the prototype on your computer to GitHub
    </h2>

    <ol class="nhsuk-list nhsuk-list--number">
      <li>
        In GitHub Desktop, select
        <strong>Add an Existing Repository</strong>. If it's not on the screen,
        click the <strong>File</strong> menu and select
        <strong>Add Local Repository</strong>.
      </li>
      <li>
        Click the <strong>Choose</strong> button and select your prototype
        folder.
      </li>
    </ol>
    <h3 class="nhsuk-heading-s">If Github Desktop shows a warning</h3>
    <p>
      You may get a warning saying that the directory does not appear to be a
      Git directory. This is the correct process.
    </p>
    <ol class="nhsuk-list nhsuk-list--number">
      <li>
        In the warning, click the <strong>Create a repository</strong> link.
      </li>
      <li>
        On the next screen, titled <strong>Create a repository</strong>, click
        the <strong>Create repository</strong> button.
      </li>
    </ol>

    <p>
      If you work for NHS England, make sure that your repository is part of one of the official
      accounts and not in an account with your username. Ask your development team or technical leadership where you should store it.
    </p>
    <h2 class="nhsuk-heading-m">Upload your prototype to GitHub</h2>

    <ol class="nhsuk-list nhsuk-list--number">
      <li>In the top right, click <strong>Publish repository</strong>.</li>
      <li>
        Usually we want other people to be able to view and collaborate on our prototype, so make sure that <strong>Keep this code private</strong> is not ticked. Check with your team if you're not sure.
      </li>
      <li>Click <strong>Publish repository</strong>.</li>
    </ol>
    <p>
      Your prototype code is now on GitHub, which means other people can see and
      collaborate on your code.
    </p>

{% endblock %}
